<%- include ('../layouts/header') -%>
<div class="ui main text container segment">
        <h2>Log In</h2>
        <form action="/login" method="POST" class="ui form fields">
            <div class="field">
              <label for="">Username</label>
              <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
              />
            </div>
            <div class="field">
              <label for="">Password</label>
              <input type="password" name="password" placeholder="Enter password" />
            </div>
            <div class="field">
              <input
                type="submit"
                class="ui button big green"
                value="Log In!"
              />
            </div>
          </form>
</div>


<%- include ('../layouts/footer') -%>