<%- include ('../layouts/header') -%>
<div class="ui main text container segment">
        <h2>Register as a new User</h2>
        <form action="/signup" method="POST" class="ui form fields">
            <div class="field">
              <label for="">Username</label>
              <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
              />
            </div>
            <div class="field">
                <label for="">Email</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Enter email"
                  required
                />
              </div>
            <div class="field">
                <label for="">Gender</label>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other<br>  
              </div>


            <div class="field">
                <label for="">Occupation</label>
                <input
                  type="text"
                  name="occupation"
                  placeholder="Enter your occupation"
                  required
                />
              </div>
              <div class="field">
                  <label for="">Age</label>
                  <input
                    type="number"
                    step="1"
                    name="age"
                    placeholder="Enter your age"
                    required
                  />
                </div>
            <div class="field">
              <label for="">Password</label>
              <input type="password" name="password" placeholder="Enter password" />
            </div>
            <div class="field">
              <input
                type="submit"
                class="ui button big green action"
                value="Register!"
              />
           
                <a href="/" class="ui button big red action">Cancel</a>
              </div>
          </form>
</div>


<%- include ('../layouts/footer') -%>