<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login App</title>
    <!-- semantic ui styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="ui container">
      <nav>
        <div class="ui fixed inverted menu">
          <div class="left menu">
            <a href="/home" class="ui item">HOME</a>
            <a href="/secret" class="ui item">Secret</a>
          </div>
          <div class="right menu">
              <!-- <a class="ui item">
                  Logged in as Oks
              
              </a> -->
            <%if(currentUser){%>
            <a class="ui item">
                <i class="address card icon"></i>   Logged in as 
                
                  <%= currentUser.local.username || currentUser.google.name ||
                  currentUser.facebook.name %>
            
            </a>
            <a class="ui item" href="/logout"><i class="sign out alternate icon"></i>
              Log Out
            </a>
            <%} else {%>
              <a class="ui item" href="/">
               Start
              </a>
              <%}%>
          </div>
        </div>
      </nav>

      <% if(error && error.length > 0) {%>
      <div class="ui main text container flash-message error message">
        <%= error%>
      </div>
      <%}%> <% if(success && success.length > 0) {%>
      <div class="ui main text container flash-message success message">
        <%= success%>
      </div>
      <%}%>
 
