<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login App</title>
    <!-- semantic ui styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
<div class="login-flex">

        <div class="login">
            <h1>Welcome!</h1>

            <div class="ui my-buttons">
                <a href="/home" method="GET"
                class="ui white button"><i  class="home icon"></i>Home</a>
                    <a href="/login" method="GET"
                    class="ui yellow button"> <i class="sign in alternate icon"></i></i>Login</a>
                    <a href="/signup" method="GET"
                    class="ui green button"> <i class="sign in alternate icon"></i>Register</a>
            
                    <a href="/auth/google" method='GET' class="ui red google plus  button">
                      <i class="google icon"></i>
                      Log In With Google
                    </button>
                    <a href="/auth/facebook" method="GET" class="ui facebook button">
                      <i class="facebook icon"></i>
                      Log In With Facebook
                    </a>
            </div>
        </div>



<%- include ('layouts/footer') -%>
