<%- include ('layouts/header') -%>
<h1>Lets start</h1>

<div class="ui my-buttons">
        <a href="/login" method="GET"
        class="ui yellow button"><i  class="sign-in icon"></i>Login</a>
        <a href="/signup" method="GET"
        class="ui green button"><i  class="sign-in icon"></i>Register</a>

        <a class="ui red google plus  button">
          <i class="google icon"></i>
          Log In With Google
        </button>
        <a class="ui facebook button">
          <i class="facebook icon"></i>
          Log In With Facebook
        </a>
</div>


<%- include ('layouts/footer') -%>
